In [3]:
import pymongo
from pymongo import MongoClient

In [4]:
try:
    con_md = MongoClient(host="localhost", port=27017)
    print("Connected successfully")
except ConnectionFailure:
    sys.stderr.write("Could not connect to MongoDB: %s" % ConnectionFailure)

Connected successfully

In [5]:
con_md

MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True)

In [6]:
con_md.list_database_names()

['admin', 'config', 'local', 'new_db', 'school']

In [7]:
# school
school_db = con_md['school']

In [8]:
students = school_db.get_collection('students')

In [9]:
students

Collection(Database(MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True), 'school'), 'students')

In [10]:
students.estimated_document_count()

200

In [11]:
students.find_one()

{'_id': 0,
 'name': 'aimee Zank',
 'scores': [{'score': 1.463179736705023, 'type': 'exam'},
  {'score': 11.78273309957772, 'type': 'quiz'},
  {'score': 35.8740349954354, 'type': 'homework'}]}

In [45]:
user_doc = {
 'name': 'aimee Zank 4',
 'scores': [{'score': 11.4, 'type': 'exam'},
  {'score': 1.4, 'type': 'quiz'},
  {'score': 35.84, 'type': 'homework'}]}
x = students.insert_one(user_doc)

In [46]:
students.estimated_document_count()

204

In [19]:
x.inserted_id

ObjectId('65754be36fd3af5058377599')

In [38]:
myquery = {
 'name': { "$regex": "^aimee" } 
}
mydoc = students.find(myquery).limit(3)
for x in mydoc:
    print(x)
    print( '-----------------' )

{'_id': 0, 'name': 'aimee Zank', 'scores': [{'score': 1.463179736705023, 'type': 'exam'}, {'score': 11.78273309957772, 'type': 'quiz'}, {'score': 35.8740349954354, 'type': 'homework'}]}
-----------------
{'_id': 114, 'name': 'aimee Zank', 'scores': [{'score': 15.91636686717778, 'type': 'exam'}, {'score': 96.12953798826392, 'type': 'quiz'}, {'score': 18.92628947700149, 'type': 'homework'}]}
-----------------
{'_id': ObjectId('657549966fd3af5058377597'), 'name': 'aimee Zank 2', 'scores': [{'score': 1.4, 'type': 'exam'}, {'score': 11.7, 'type': 'quiz'}, {'score': 35.8, 'type': 'homework'}]}
-----------------

In [57]:
myquery = {
 'scores.score': 1.4
}
mydoc = students.find(myquery)

for x in mydoc:
    print(x)
    print( '-----------------' )

{'_id': ObjectId('657549966fd3af5058377597'), 'name': 'aimee Zank 2', 'scores': [{'score': 1.4, 'type': 'exam'}, {'score': 11.7, 'type': 'quiz'}, {'score': 35.8, 'type': 'homework'}]}
-----------------
{'_id': ObjectId('657560c56fd3af505837759a'), 'name': 'aimee Zank 4', 'scores': [{'score': 11.4, 'type': 'exam'}, {'score': 1.4, 'type': 'quiz'}, {'score': 35.84, 'type': 'homework'}]}
-----------------

In [56]:
myquery = {
 'scores': {'score': 1.4, 'type': 'exam'}
    
}

mydoc = students.find(myquery)

for x in mydoc:
    print(x)
    print( '-----------------' )

{'_id': ObjectId('657549966fd3af5058377597'), 'name': 'aimee Zank 2', 'scores': [{'score': 1.4, 'type': 'exam'}, {'score': 11.7, 'type': 'quiz'}, {'score': 35.8, 'type': 'homework'}]}
-----------------

In [58]:
myquery = {
 'scores': {'score': 1.4, 'type': 'exam'}
    
}

mydoc = students.find(myquery)

for x in mydoc:
    print(x)
    print( '-----------------' )

{'_id': ObjectId('657549966fd3af5058377597'), 'name': 'aimee Zank 2', 'scores': [{'score': 1.4, 'type': 'exam'}, {'score': 11.7, 'type': 'quiz'}, {'score': 35.8, 'type': 'homework'}]}
-----------------

In [70]:
myquery = {
 'scores.score': {'$in': [1.4 , 1.463179736705023 ]}
    
}

mydoc = students.find(myquery)

for x in mydoc:
    print(x)
    print( '-----------------' )

{'_id': 0, 'name': 'aimee Zank', 'scores': [{'score': 1.463179736705023, 'type': 'exam'}, {'score': 11.78273309957772, 'type': 'quiz'}, {'score': 35.8740349954354, 'type': 'homework'}]}
-----------------
{'_id': ObjectId('657549966fd3af5058377597'), 'name': 'aimee Zank 2', 'scores': [{'score': 1.4, 'type': 'exam'}, {'score': 11.7, 'type': 'quiz'}, {'score': 35.8, 'type': 'homework'}]}
-----------------
{'_id': ObjectId('657560c56fd3af505837759a'), 'name': 'aimee Zank 4', 'scores': [{'score': 11.4, 'type': 'exam'}, {'score': 1.4, 'type': 'quiz'}, {'score': 35.84, 'type': 'homework'}]}
-----------------

In [85]:
myquery = {
 'scores': {'$in': [{'score': 1.4 , 'type': 'exam'},{'score': 1.463179736705023 , 'type': 'exam'}]}
    
}

mydoc = students.find(myquery)

for x in mydoc:
    print(x)
    print( '-----------------' )

{'_id': 0, 'name': 'aimee Zank', 'scores': [{'score': 1.463179736705023, 'type': 'exam'}, {'score': 11.78273309957772, 'type': 'quiz'}, {'score': 35.8740349954354, 'type': 'homework'}]}
-----------------
{'_id': ObjectId('657549966fd3af5058377597'), 'name': 'aimee Zank 2', 'scores': [{'score': 1.4, 'type': 'exam'}, {'score': 11.7, 'type': 'quiz'}, {'score': 35.8, 'type': 'homework'}]}
-----------------

In [83]:
myquery = {
 'scores': {'score': 1.4 , 'type': 'exam'}
    
}

mydoc = students.find(myquery)

for x in mydoc:
    print(x)
    print( '-----------------' )

{'_id': ObjectId('657549966fd3af5058377597'), 'name': 'aimee Zank 2', 'scores': [{'score': 1.4, 'type': 'exam'}, {'score': 11.7, 'type': 'quiz'}, {'score': 35.8, 'type': 'homework'}]}
-----------------