In [1]:
from datetime import datetime
user_doc = {
    "username" : "janedoe",
    "firstname" : "Jane",
    "surname" : "Doe",
    "dateofbirth" : datetime(1974, 4, 12),
    "email" : "janedoe74@example.com",
    "score" : 0
}

In [2]:
user_doc

{'username': 'janedoe',
 'firstname': 'Jane',
 'surname': 'Doe',
 'dateofbirth': datetime.datetime(1974, 4, 12, 0, 0),
 'email': 'janedoe74@example.com',
 'score': 0}

In [7]:
import pymongo
from pymongo import MongoClient

In [13]:
try:
    con_md = MongoClient(host="localhost", port=27017)
    print("Connected successfully")
except ConnectionFailure:
    sys.stderr.write("Could not connect to MongoDB: %s" % ConnectionFailure)

Connected successfully

In [14]:
con_md

MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True)

In [36]:
con_md.list_database_names()

['admin', 'config', 'local', 'school']

In [37]:
new_db = con_md['new_db']

In [38]:
con_md.list_database_names()

['admin', 'config', 'local', 'school']

In [41]:
new_db.list_collection_names()

[]

In [42]:
col_1 = new_db['collection_1']

In [43]:
mydict = { "name": "John", "address": "Highway 37" }
x = col_1.insert_one(mydict)

In [47]:
x.inserted_id

ObjectId('6575479841a325b5cebc493a')

In [50]:
col_1.estimated_document_count()

1

In [53]:
for i in col_1.find():
    print(i)

{'_id': ObjectId('6575479841a325b5cebc493a'), 'name': 'John', 'address': 'Highway 37'}

In [54]:
mydict = { "name": "Maike", "address": "Holl 31" }
x = col_1.insert_one(mydict)
x.inserted_id

ObjectId('65754fd241a325b5cebc493b')

In [55]:
for i in col_1.find():
    print(i)

{'_id': ObjectId('6575479841a325b5cebc493a'), 'name': 'John', 'address': 'Highway 37'}
{'_id': ObjectId('65754fd241a325b5cebc493b'), 'name': 'Maike', 'address': 'Holl 31'}

In [57]:
myquery = { "name": "Maike" }

mydoc = col_1.find(myquery)

for x in mydoc:
  print(x)

{'_id': ObjectId('65754fd241a325b5cebc493b'), 'name': 'Maike', 'address': 'Holl 31'}

In [73]:
myquery = { "name": { "$regex": "^M" } }

mydoc = col_1.find(myquery)

for x in mydoc:
  print(x)

{'_id': ObjectId('65754fd241a325b5cebc493b'), 'name': 'Maike', 'address': 'Holl 31'}

In [74]:
mydoc.count()

C:\Users\m.faridi\AppData\Local\Temp\ipykernel_22808\2136299650.py:1: DeprecationWarning: count is deprecated. Use Collection.count_documents instead.
  mydoc.count()

1

In [75]:
mydict = { "name": "minnie", "address": "St 31" }
x = col_1.insert_one(mydict)
x.inserted_id

ObjectId('657551a141a325b5cebc493c')

In [77]:
myquery = { "address": { "$regex": "^S" } }
newvalues = { "$set": { "name": "Minnie" } }

x = col_1.update_many(myquery, newvalues)

print(x.modified_count, "documents updated.")

1 documents updated.