In [158]:
import datetime as dt
import re

In [168]:
t1 = dt.datetime.now()

In [169]:
str(t1)

'2023-10-18 10:51:43.941490'

In [178]:
# method 1 using regex
#mch = re.match('(\d{2})-(\d{2})-(\d{2}) (\d{2}):(\d{2}):(\d{2})',str(t1))
mch = re.match("(\d*)-(\d*)-(\d*) (\d*):(\d*):(\d{2})",str(t1))

In [179]:
mch.group()

'2023-10-18 10:51:43'

In [180]:
mch.groups()

('2023', '10', '18', '10', '51', '43')

In [186]:
# method 1 using datatime format
t1.strftime("%y-%m-%d %H:%M:%S")

'23yyy-10-18 10:51:43'

In [195]:
import string
fname = 'masoud faridi'

In [196]:
lstr = list(fname)

In [197]:
lstr.reverse()

In [198]:
lstr

['i', 'd', 'i', 'r', 'a', 'f', ' ', 'd', 'u', 'o', 's', 'a', 'm']

In [199]:
lnum = '3, 5, 7, 23'
lnum.split(', ')

['3', '5', '7', '23']

In [200]:
color_list = ["Red","Green","White" ,"Black"]

In [201]:
color_list[-1]

'Black'

In [208]:
exam_st_date = (11,12,2014)
print( "The examination will start from : %i / %i / %i"%exam_st_date)

The examination will start from : 11 / 12 / 2014

In [209]:
int1 = 5
3*int1 + 2*10*int1 +1*100*int1

615

In [211]:
"%i%i"%(5,5)

'55'

In [213]:
import calendar as cal

In [218]:
print(cal.month(2023,8))

    August 2023
Mo Tu We Th Fr Sa Su
    1  2  3  4  5  6
 7  8  9 10 11 12 13
14 15 16 17 18 19 20
21 22 23 24 25 26 27
28 29 30 31

In [224]:
print(cal.month_abbr('1'))

TypeError: '_localized_month' object is not callable

In [236]:
f_date = dt.date(2014, 7, 2)
l_date = dt.date(2014, 7, 11)
delta = l_date - f_date
str(delta)

'9 days, 0:00:00'

In [233]:
type(delta)

datetime.timedelta

In [237]:
delta.days

9

In [238]:
ls9 = [2,4,5,7,9,0,2,3,6,5,2,2]

In [242]:
ls9.count(-2)

0

In [245]:
def in_ls(ls9,int1):
    return ls9.count(int1)>0

In [247]:
in_ls(ls9,-2)

False

In [252]:
''.join([str(item) for item in ls9])

'245790236522'

In [253]:
numbers = [    
    386, 462, 47, 418, 907, 344, 236, 375, 823, 566, 597, 978, 328, 615, 953, 345, 
    399, 162, 758, 219, 918, 237, 412, 566, 826, 248, 866, 950, 626, 949, 687, 217, 
    815, 67, 104, 58, 512, 24, 892, 894, 767, 553, 81, 379, 843, 831, 445, 742, 717, 
    958,743, 527
    ]

In [259]:
idx = numbers.index(237)
for i in range(idx+1,len(numbers)):
    if numbers[i] % 2 ==0:
        print(numbers[i])

412
566
826
248
866
950
626
104
58
512
24
892
894
742
958

In [260]:
color_list_1 = set(["White", "Black", "Red"])
color_list_2 = set(["Red", "Green"])

In [262]:
for item in color_list_1:
    if item not in color_list_2:
        print(item)

Black
White

In [263]:
color_list_1.difference(color_list_2)

{'Black', 'White'}

In [264]:
color_list_2.difference(color_list_1)

{'Green'}

In [265]:
color_list_1.intersection(color_list_2)

{'Red'}

In [266]:
color_list_1.union(color_list_2)

{'Black', 'Green', 'Red', 'White'}

In [268]:
ls9

[2, 4, 5, 7, 9, 0, 2, 3, 6, 5, 2, 2]

In [272]:
a=18;b=12
for i in range(2,b+1):
    if i*a % b ==0:
        print(i*a)
        break;

36

In [273]:
isinstance(a,int)

True

In [282]:
x=[3,4]
y=[0,0]
import math

In [285]:
l1 = list(map(lambda x,y: (x-y)**2,x,y))
sum(l1)**0.5

5.0

In [290]:
import os
from os import path

In [295]:
path.isfile("C:\\Users\\m.faridi\\chap3.ipynb")

True

In [297]:
# For 32 bit it will return 32 and for 64 bit it will return 64
import struct
print(struct.calcsize("P"))
print(struct.calcsize("P") * 8)

8
64

In [308]:
import platform
import os
print("Name of the operating system:",os.name)
print("\nName of the OS system:",platform.system())
print("\nVersion of the operating system:",platform.release())

Name of the operating system: nt

Name of the OS system: Windows

Version of the operating system: 10

In [309]:
import site

In [310]:
site.getsitepackages()

['C:\\ProgramData\\anaconda3',
 'C:\\ProgramData\\anaconda3\\lib\\site-packages']

In [328]:
import os
print(os.system('ls -l'))

1

In [327]:
import psutil
print(psutil.cpu_count())

4

In [333]:
str1 = "192.168"

In [334]:
type(str1)

str

In [337]:
float(str1)

192.168

In [423]:
str2 = "test 124 extract 12.98 number"

In [384]:
import re

In [387]:
mch1 = re.match("([0-9]*)",str2)
print(mch1)

<re.Match object; span=(0, 0), match=''>

In [388]:
mch1.group()

''

In [389]:
mch1.groups()

('',)

In [428]:
mch2 = re.findall("([0-9.]*)",str2)

In [429]:
print(mch2)

['', '', '', '', '', '124', '', '', '', '', '', '', '', '', '', '12.98', '', '', '', '', '', '', '', '']

In [440]:
#str_list = filter(None, mch2)
str_list = filter(len, mch2)

In [441]:
list(str_list)

['124', '12.98']

In [449]:
mch2 = re.findall(r'[0-9.]+',str2)
mch2

['124', '12.98', '.23']

In [448]:
str2 = "test 124 extract 12.98 number  .23"

In [450]:
mch2 = re.findall('[0-9.]+',str2)
mch2

['124', '12.98', '.23']

In [453]:
mch2 = re.findall('[0-9.]+',str2)
mch2

['124', '12.98', '.23']

In [455]:
mch2 = re.findall('.*?([0-9.]+).*?',str2)
mch2

['124', '12.98', '.23']

In [464]:
mch2 = re.match('.*?([0-9.]+).*?',str2)
mch2

In [465]:
mch2.group()

'test 124'

In [466]:
mch2.groups()

('124',)

In [490]:
mch2 = re.fullmatch('.*?([0-9.]+).*?',str2)
mch2
print(mch2.group(),'-------',mch2.groups())

In [494]:
mch2 = re.fullmatch('.*?([0-9.]+).*?([0-9.]+).*?',str2)
mch2
print(mch2.group(),'-------',mch2.groups())

test 124 extract 12.98 number  .23 ------- ('124', '12.98')

In [485]:
mch2 = re.fullmatch('.*?([0-9.]+).*?([0-9.]+).*?([0-9.]+).*?',str2)
mch2

In [486]:
mch2

In [487]:
mch2.group()

'test 124 extract 12.98 number  .23'

In [488]:
mch2.groups()

('124', '12.98', '.23')

In [496]:
re.findall(r'\d+', "hello 42 I'm a 32 string 1.30")

['42', '32', '1', '30']